<%- include('../header.ejs', {name: "New Instrument"}) %>
<h1>Add Instrument to Inventory</h1>

<form method="POST" action="/instruments">
<label>Name:<input type="text" name="name" class="newName"></label>
<label>Brand:<input type="text" name="brand" class="newBrand"></label>
<label>Iamge URL:<input type="text" name="image" class="newImage"></label>
<label>Price:<input type="text" name="price" class="newPrice"></label>
<label>Description:<input type="text" name="description" class="newDescription"></label>
<input type="submit" value="submit">
</form>

<h3><a href="/instruments">Back to Instruments</a></h3>

<%- include('../footer.ejs',) %>