<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <li><a href="/"></a>Home</li>
    <li><a href="/instruments"></a>Instruments</li>
    <li><a href="/headphones"></a>Headphones</li>
    <li><a href="/speakers"></a>Speakers</li>
    <li><a href="/microphones"></a>Microphones</li>
    <li><a href="/myCart"></a>My Cart</li>
   
    <%= if(typeof name !== 'undefined') { %>
        <title><%= name %></title>
    <%= } else {  %>
        <title>Music Store App</title>
</head>
<body>
   