.showImage {
    max-width: 300px;
}

.newField {
    display: block;
}

.instrumentBG {
    background-image: url('https://images.pexels.com/photos/5396357/pexels-photo-5396357.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
    


.contentBox {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 6px;
}

.itemTitle {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-label {
    color: white;
}



.my-custom-row {
    background-image: url('https://images.pexels.com/photos/5396357/pexels-photo-5396357.jpeg');
    background-size: cover;
    height: 600px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

